@{
    ViewBag.Title = "About";
}


<style>
    h4 {
        font-family: Georgia;
        font-size: 36px;
        color: beige;
    }
</style>


<div class="card-header">
    <h4>About Inventory Management System</h4>
</div>
<br />

<h5><p>GiftsOnline Inventory Management System is Online Based Inventory System</p></h5>
<h6>Consists of all the Products Present in Inventory Differentiated on Basis of Categories of Gifts. </h6>>
